<app-sidebar></app-sidebar>
<p class = "alertclass" *ngIf = showAlert>
  <ngb-alert [type]="alertType"><strong>{{ alertMessage }}</strong></ngb-alert>
</p>
<div class="container">
  <div class="row">
      <div class="col-sm-4 offset-sm-3">
          <strong><h2>Reset Password</h2></strong>
          <form  *ngIf = !isRecoveryEmailSent [formGroup]="resetForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <label for="email"><h6><strong>Email</strong></h6></label>
                  <input type="text" formControlName="email" class="form-control" 
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required"><strong>Email is required</strong> </div>
                      <div *ngIf="f.email.errors.email"><strong>Email address is not valid</strong></div>
                  </div>
              </div>
              <!-- <div class="form-group">
                  <label for="password"><h6><strong>Password</strong></h6></label>
                  <input type="password" formControlName="password" class="form-control" 
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required"><strong>Password is required</strong></div>
                      <div *ngIf="f.password.errors.minlength"><strong>Password must be atleast 8 characters</strong></div>
                  </div>
              </div> -->
              <div class="form-group">
                  <button [disabled]="loading" class="btn btn-primary">Reset</button>
                  <a [routerLink]="['/']" class="btn btn-link"><strong>Login</strong></a>
              </div>
          </form>

          <form  *ngIf = isRecoveryEmailSent [formGroup]="passwordChangeFrom" (ngSubmit)="changePassword()">
             <div class="form-group">
                <label for="email"><h6><strong>Email</strong></h6></label>
                <input type="text" class="form-control" [value]="f.email.value" readonly/>
            </div> 
            <div class="form-group">
                <label for="recoveryPassword"><h6><strong>Recovery Password</strong></h6></label>
                <input type="password" formControlName="recoveryPassword" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && p.recoveryPassword.errors }" />
                <div *ngIf="submitted && p.recoveryPassword.errors" class="invalid-feedback">
                    <div *ngIf="p.recoveryPassword.errors.required"><strong>Recovery Password is required</strong> </div>
                    <div *ngIf="p.recoveryPassword.errors.minlength"><strong>Recovery Password must be atleast 8 characters</strong></div>
                </div>
            </div>
            <div class="form-group">
                <label for="newPassword"><h6><strong>New Password</strong></h6></label>
                <input type="password" formControlName="newPassword" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && p.newPassword.errors }"/>
                <div *ngIf="submitted && p.newPassword.errors" class="invalid-feedback">
                    <div *ngIf="p.newPassword.errors.required"><strong>Password is required</strong></div>
                    <div *ngIf="p.newPassword.errors.minlength"><strong>Password must be atleast 8 characters</strong></div>
                </div>
            </div>
            <div class="form-group">
                <label for="ConfirmPassword"><h6><strong>Confirm Password</strong></h6></label>
                <input type="password" formControlName="ConfirmPassword" class="form-control" 
                [ngClass]="{ 'is-invalid': (submitted && p.ConfirmPassword.errors) || (submitted && passwordNotmatched) }" />
                <div *ngIf="submitted && passwordNotmatched" class="invalid-feedback"><strong>Password do not match</strong></div>
                <div *ngIf="submitted && p.ConfirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="p.ConfirmPassword.errors.required"><strong>Password is required</strong></div>
                    <div *ngIf="p.ConfirmPassword.errors.minlength"><strong>Password must be atleast 8 characters</strong></div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">Change Password</button>
            </div>
        </form>
      </div>
  </div>
</div>
