nav {
    background:#0069a6;
    height:fit-content;
    margin-bottom: 180px;
    max-height: 20%;
    text-align: center;
    a{
        color: #fff;
    }
    // ul {
    //     list-style-type: none;
    //     margin: 0;
    //     float: right;
    //     width: 100%;
    //     background-color:#0069a6;
    //     position:inherit;
    //     li {
    //         a {
    //             color: #fff;
    //             padding: 25px;
    //             display: block;
    //             text-decoration: none;
    //             float:right;
    //         }

    //         .activated {
    //             background-color: #428eb4;
    //         }
    //         h1{
    //             color:rgb(245, 240, 240);
    //             text-align: center;
    //         }
    //     }
    // }
    
}
.materialIcons{
    margin-top: -70px;
    float:right;
}
.signOut{
    padding-left: 10px;
}
.headerStyle{
    margin-left: 65px;
}