.not-empty-select.mat-selected {
    color: black !important;
}
  
:host /deep/ .mat-select-value-text {
    color:black !important;
}
.AccountType{
    padding-right: 30px;
}
.row{
    margin-top: -100px;
}
.alertclass{
    margin-top: -180px;
    margin-bottom: 130px
}