.not-empty-select.mat-selected {
    color: black !important;
}
  
:host /deep/ .mat-select-value-text {
    color:black !important;
}
.AccountType{
    padding-right: 30px;
}
.row{
    margin-top: -100px;
}
.alertclass{
    margin-top: -180px;
    margin-bottom: 130px
}
.mat-error {
    color: #dc3545;
}
.mat-form-field-subscript-wrapper {
    font-size: 80%;
}
.mat-form-field {
    font-family: 'Montserrat', sans-serif;
    font-size: 105%;
}
.btn-link {
    color:black;
}
a{
    margin-left:15px;
}