.not-empty-select.mat-selected {
    color: black !important;
}
  
:host /deep/ .mat-select-value-text {
    color:black !important;
}
:host /deep/ .mat-form-field-label-wrapper .mat-form-field-label {
    color:rgb(0, 0, 0) !important;
}
// .AccountType{
//     padding-right: 30px;
// }
.row{
    margin-top: -100px;
}
.alertclass{
    margin-top: -180px;
    margin-bottom: 130px
}
.mat-error {
    color: #dc3545;
}
.mat-form-field-subscript-wrapper {
    font-size: 80%;
}
.mat-form-field {
    font-family: 'Montserrat', sans-serif;
    font-size: 105%;
}
.btn-link {
    color:black;
}
h6{
    margin-bottom: -10px;
}
// .mat-select-placeholder + .mat-input-placeholder-wrapper .mat-input-placeholder {
//     color:white !important;
// }